@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 78%;
    background-color: #fff;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.message-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 5%;
    /* Hide scrollbar for Webkit browsers (Chrome, Safari) */
    &::-webkit-scrollbar {
        display: none; /* Hide scrollbar */
    }
}

.message-container::-webkit-scrollbar {
    width: 0; /* Hides scrollbar for Chrome, Safari, and Edge */
    height: 0; /* Hides scrollbar for Chrome, Safari, and Edge */
}

.message {
    max-width: 60%;
    margin-bottom: 10px;
    padding: 0 20px 0 20px;
    border-radius: 15px;
    font-size: 16px;
    line-height: 1.4;
    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;
    background-color: rgb(245, 247, 249);
    color: black;
    font-weight: bolder;
}

.bot-message {
    align-self: flex-start;
    background-color: rgb(247, 250, 250);
    color: black;
}

/* Fix message input at the bottom */
.message-input {
    display: flex;
    width: 70%;
    height: 7%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    right: 4%;
    background-color: #fff;
    padding: 10px;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.message-input button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.loader {
    display: flex;
    justify-content: flex-start;
    padding-left: 3%;
    height: 50px;
}

.loader-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.loader-dots span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #007bff;
    animation: bounce 1.2s infinite ease-in-out;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

.message-input button:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .chat-container {
        width: 93%;
    }
    .loader {
        padding-left: 0px;
    }
    .message-input button {
        margin-right: 6%;
    }
    .message-input input {
        font-size: 25px;
    }
    .message-input{
        width: 90%;
        right: 0;
        height: 6%;
    }
    .message-input button {
        padding: 10px 40px;
    }
    .message-container {
        margin-top: 13%;
    }
}
@media screen and (max-width: 1200px) {
    .message-container {
        margin-top: 8%;
    }
}